<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog - Cửa hàng</title>
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/headeradmin.css">
</head>
<body>
    <%- include('../partialsadmin/headeradmin') %>




    <main>
        <div class="content">
            <div class="sales-female">
                doanh so
            </div>
        </div>
    </main>
</body>
</html>