<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/changePassword.css">
</head>
<body>
    <%- include('partials/header') %>

    <main>
        <h1>Thay Đổi Mật Khẩu</h1>
        <form action="/change-password" method="POST">
            <div>
                <label for="oldPassword">Mật khẩu cũ:</label>
                <input type="password" id="oldPassword" name="oldPassword" required>
            </div>
            <div>
                <label for="newPassword">Mật khẩu mới:</label>
                <input type="password" id="newPassword" name="newPassword" required>
            </div>
            <div>
                <label for="confirmPassword">Xác nhận mật khẩu mới:</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required>
            </div>
            <button type="submit">Đổi mật khẩu</button>
        </form>
        <a href="/user-details">Quay lại trang thông tin chi tiết người dùng</a>
        
    </main>

    <%- include('partials/footer') %>
</body>
</html>
